node_modules/
dist/
.angular/
.env
.env.local
*.log
.DS_Store
coverage/
.idea/
.vscode/
*.swp
*.swo
# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# System packages & packages
*.deb
